{% extends 'base.html' %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}Об авторе проекта{% endblock %}
{% block content %}

    {% load static %}

    <div class="row">
        <!-- Левый вспомогательный блок -->
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% include 'avatar_ad_links.html' %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Тело страницы -->
        <div class="col-md-9">
            <div class="card-body">
                <div class="card-text">
                    <p>Меня зовут Никита и это первый мой сайт на Django.</p>
                    <p><strong>Немного обо мне.</strong><br>
                    Я всю жизнь так или иначе связан с IT. Это моя не первая попытка научится программировать.
                        Первую я предпринял еще в 2008 году, по статьям и мануалам пытался понять как работает
                        веб-страницы, но как-то быстро забил на это.<br>
                        Более менее серьезная попытка была сделана в 2013 году, тогда я поехал в Москву на живые курсы
                        по разработке Android приложений, но не справился с нагрузкой и не закончил.<br>
                        Я постоянно так или иначе сталкивался с программированием. То там то тут писал небольшие
                        скрипты. Особенно активно использую Google Scripts.<br>
                        Сейчас решил, что пора двигаться дальше развиваться и углублять свои познания в IT сфере.<br>
                        Хочу делать классные и удобные сервисы для людей!</p>
                    <p>Последнее время активно изучаю тематику инвестиций. Мне очень близки принципы движения FIRE
                        (Financial Independence, Retire Early)<br>
                        Сейчас читаю книги Думай медленно решай быстро (Даниел Канеман) и Talent is Overrated (Geoff
                        Colvin). Именно они тронули лед и заставили меня двигаться дальше, развиваться учится.
                        Обожаю научную фантастику. Если есть идеи что почитать, буду рад предложениям.<br>
                        Люблю покидать Frisbee c друзьями!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}