{% load static %}
<li class="list-group-item">
    <div class="h3">
        Об авторе
    </div>
</li>
<li class="list-group-item">
    <div class="h6 text-muted">
        <img src="https://sun9-73.userapi.com/impf/6ekyHQ6XAk0VTTeCUwrZ4DbOMF_RBFosDUNpMg/aorHKSzO8Eo.jpg?size=640x640&quality=95&sign=561e41ecd9b9bedf1cd6a4a5a2099e82&type=album" style="height: 11em; width: 100%;">
        <div>fibboo</div>
        <div class="col-">
            <a href="https://github.com/fibboo" style="color: #495057">
                <i class="fa fa-github fa-3x"></i>
            </a>
            <a href="https://vk.com/fibboo" style="color: #495057">
                <i class="fa fa-vk fa-3x"></i>
            </a>
        </div>
    </div>
</li>
